<div style="padding:10px 10px;">
    <div style="width:100%;box-shadow: 2px 1px 5px #ccc;" data-width="100%">
        <div style="width:100%;" data-width="100%">
            <img style="width:100%; display:block;"
                 src="https://mpt.135editor.com/mmbiz_png/fgnkxfGnnkQIJuUnxqKG3icYslYianzhEyPTMMCTbq43GeibnxpaH16U5dhxlLYKVrjR32HVAIEC3Rd5XFFcb2W5w/0?wx_fmt=png"
                 data-width="100%"/>
        </div>
        <div
                style="padding:15px 30px; background-image:url(https://mpt.135editor.com/mmbiz_png/fgnkxfGnnkQIJuUnxqKG3icYslYianzhEypOu1caicEGFicVmdKicxwSFHuZIfUo9ia9Rkwe07vzbF0tbA4ApuWp9UVQ/0?wx_fmt=png);">
            <div
                    style="width:100%; font-size:16px; padding-bottom:10px; border-bottom:solid 1px #c1c1c1;"
                    data-width="100%">
                <p>{{ first_ill_time }}</p>
            </div>
            <div style="width:100%; padding-top:20px; font-size:14px;" class="135brush"
                 data-width="100%">
                <p>{{ content }}</p>
            </div>
        </div>
    </div>
    <div
            style="width:100%;height:28px;background-image: url(https://mpt.135editor.com/mmbiz_png/fgnkxfGnnkQIJuUnxqKG3icYslYianzhEydR4lDxxbibOYCwVdicRYqVczrM7vurtUHQqZOQUGCEIjxDXgKmVHsEZA/0?wx_fmt=png); background-size: 100% 100%;background-repeat: no-repeat;"
            data-width="100%"></div>
</div>